h2{

   color: aqua;
   text-decoration: underline;
   text-align: center;
   
   



}
h1{
text-decoration: underline;
color:cornsilk;
text-align: center;


}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
}
.type{
    text-align: center;


}
